@page "{repositoryname}/{*repositorysubpath}"
@using Microsoft.AspNetCore.Html
@model Server.Pages.Subversion.RepositoryBrowserModel
@{
    ViewData["Title"] = "Repository browser";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h1>@ViewData["Title"]</h1>
<br />




<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @{
            for (int i = 0; i < Model.PathItems().Count; ++i) {
                if (i == Model.PathItems().Count - 1) {
                    <li class="breadcrumb-item active" aria-current="page" )>
                        @Model.PathItems()[i]
                    </li>
                } else {
                    <li class="breadcrumb-item">
                        <a href="/Subversion/RepositoryBrowser/@string.Join('/', Model.PathItems().Take(i + 1))">@Model.PathItems()[i]</a>
                    </li>
                }
            }
        }
    </ol>
</nav>




<div class="float-right" style="margin-bottom: 16px !important; ">
    <button type="button" ID="Button1" class="btn  btn-success" data-toggle="popover" data-html="true" data-placement="left" data-trigger="focus" title="Checkout">
        @Model.Octicon("download-16")
        Code
        <div style="display: none", data-popover-html="yes">
            <div class="input-group mb-3" >
                <input  style="min-width: 352px" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Copy</span>
                </div>
            </div>
        </div>
    </button>
</div>


@{
    if (Model.Content == null) {
        <table class="table table-striped">
            <tr>
                <th>Kind</th>
                <th>Name</th>
                <th>Author</th>
                <th>Revision</th>
                <th>Size</th>
            </tr>
            @{
                if (Model.Data.Entry != null) {
                    foreach (var entry in Model.Data.Entry) {
                        <tr>
                            <td>@entry.Kind</td>
                            <td>
                                <a href="@Model.GetSubpath(@entry.Name)">@entry.Name@(entry.Kind == "dir"? "/" : "")</a>
                            </td>

                            <td>@entry.Commit.Author</td>
                            <td>@entry.Commit.Revision</td>
                            <td>@entry.Size</td>
                        </tr>
                    }
                }

            }
        </table>

        if (Model.HasChildReadmeFile()) {
            <div style="padding: 16px;
                                      margin: -1px -1px 0;
                                      border: 1px solid #e1e4e8;
                                      border-radius: 6px;
                                      box-sizing: border-box;">
                @Html.Raw(Model.GetChildReadmeFileFormatted())
            </div>
        }
    } else {
        <div style="padding: 16px;
                                      margin: -1px -1px 0;
                                      background-color: #f6f8fa;
                                      border: 1px solid #e1e4e8;
                                      border-top-left-radius: 6px;
                                      border-top-right-radius: 6px;
                                      box-sizing: border-box;
                                  ">
            @(Model.LinesCount) lines | @(Model.CurrentFileSize) bytes
        </div>


        <div style="padding: 16px;
                   margin: -1px -1px 0;
                   border: 1px solid #e1e4e8;
                   border-bottom-left-radius: 6px;
                   border-bottom-right-radius: 6px;
                   box-sizing: border-box;">
            @Html.Raw(Model.FormattedContent)
        </div>





    }
}


@section scripts{
    <script>

        //Enable popovers with child element [data-popover-html=yes] as content
        $(document).ready(function() {
            $("[data-toggle=popover]").each(function() {
                $(this).popover({
                    html: true, 
                    content: function() {
                        return $('[data-popover-html=yes]', this).first().html();
                    }
                });
            });
        });
    </script>
}



